.container {
    margin: 0 100px 0 100px;
}

.main {
    margin-bottom: 32px;
}

.jumbotron {
    background: steelblue;
    color: ghostwhite;
    text-shadow: 2px 2px steelblue;
    background-image: url("../assets/images/pawnee.png");
    background-repeat: no-repeat;
    background-position: center;
}

#submit {
    background-color: steelblue;
    border: 3px solid black;
}

.button {
    border-radius: 3px;
    color: white;
}

.card {
    border: 3px solid black;
}

.card-header {
    background-color: steelblue;
    border: 1px solid steelblue;
}

.card-header h2 {
    color: white;
}

.row {
    margin: 10px;
}

td {
    padding: 10px;
}